.order-item{
  background: #ccc;
  margin-bottom: 20px;
}

.order-item .loader{
  min-height: 0;
  display: inline;
  vertical-align: middle;
  float: right;
}

.order-item__button{
  display: block;
  margin: 0;
  width: 100%;
  margin-top: 20px;
}
